body {
    background-image: url(imagens/fundo.png);
}

.menu {
    padding: 30px;
    max-width: 840px;
    background-color: #c5c5b2;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
}

.sobre {
    background-color: white;
    padding-left: 8px;
    max-width: 890px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.anna {
    color: rgb(94, 90, 85);
}

.rodape {
    margin-left: 320px;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 10px;
    font-size: 20px;
}

.texto {
    font-weight: bold;
}